<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Utilities/css/owl.theme.css">
    <link rel="stylesheet" href="~/Utilities/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/main.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Utilities/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Utilities/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Utilities/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Utilities/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">

                        <li>
                            <a class="has-arrow" href="all-professors.html" aria-expanded="false"> <span class="mini-click-non">Profesores</span></a>   
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Profesores", "Index", "Maestros", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                <li> @Html.ActionLink("Nuevo Profesor", "Create", "Maestros", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-students.html" aria-expanded="false"> <span class="mini-click-non">Estudiantes</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Alumnos", "Index", "Alumnos", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Nuevo Estudiante", "Create", "Alumnos", new { area = "" }, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-courses.html" aria-expanded="false"> <span class="mini-click-non">Maestrias</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Maestrias", "Index", "Maestrias", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Nueva Maestrias", "Create", "Maestrias", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"> <span class="mini-click-non">Materias</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>@Html.ActionLink("Materias", "Index", "Materias", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Nueva Materia", "Create", "Materias", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"> <span class="mini-click-non">Semestres</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li>@Html.ActionLink("Semestres", "Index", "Semestres", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

</div>

<script src="~/Utilities/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="~/Utilities/js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="~/Utilities/js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="~/Utilities/js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="~/Utilities/js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="~/Utilities/js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="~/Utilities/js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="~/Utilities/js/jquery.scrollUp.min.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="~/Utilities/js/counterup/jquery.counterup.min.js"></script>
<script src="~/Utilities/js/counterup/waypoints.min.js"></script>
<script src="~/Utilities/js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="~/Utilities/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/Utilities/js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="~/Utilities/js/metisMenu/metisMenu.min.js"></script>
<script src="~/Utilities/js/metisMenu/metisMenu-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="~/Utilities/js/morrisjs/raphael-min.js"></script>
<script src="~/Utilities/js/morrisjs/morris.js"></script>
<script src="~/Utilities/js/morrisjs/morris-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="~/Utilities/js/sparkline/jquery.sparkline.min.js"></script>
<script src="~/Utilities/js/sparkline/jquery.charts-sparkline.js"></script>
<script src="~/Utilities/js/sparkline/sparkline-active.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="~/Utilities/js/calendar/moment.min.js"></script>
<script src="~/Utilities/js/calendar/fullcalendar.min.js"></script>
<script src="~/Utilities/js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="~/Utilities/js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="~/Utilities/js/main.js"></script>
<!-- tawk chat JS
    ============================================ -->
<script src="~/Utilities/js/tawk-chat.js"></script>
<!-- data table JS
    ============================================ -->
<script src="~/Utilities/js/data-table/bootstrap-table.js"></script>
<script src="~/Utilities/js/data-table/tableExport.js"></script>
<script src="~/Utilities/js/data-table/data-table-active.js"></script>
<script src="~/Utilities/js/data-table/bootstrap-table-editable.js"></script>
<script src="~/Utilities/js/data-table/bootstrap-editable.js"></script>
<script src="~/Utilities/js/data-table/bootstrap-table-resizable.js"></script>
<script src="~/Utilities/js/data-table/colResizable-1.5.source.js"></script>
<script src="~/Utilities/js/data-table/bootstrap-table-export.js"></script>



<div class="container body-content">
    @Html.Partial("_SweetAlert")


    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
